body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f8fa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

table {
  border-collapse: collapse;
  border-radius: 1px;
  border-spacing: 0;
  border: 0px solid #e1e4e8;
  overflow: hidden;
  font-size: 14px;
  margin: -1px;
}

th {
  background-color: #f6f8fa;
  text-align: left;
}

th, td {
  border: 1px solid #e1e4e8;
  padding: 8px 12px;
}
tr:hover{
  background-color: #f6f8fa;
}

/*a {*/
/*  background-color: #ffffff,*/
/*canvasInverse: #6e7781,*/
/*canvasInset: #f6f8fa,*/
/*primary: #ffffff,*/
/*secondary: #f6f8fa,*/
/*tertiary: #f6f8fa,*/
/*overlay: #ffffff,*/
/*backdrop: rgba(27,31,36,0.5),*/
/*info: #ddf4ff,*/
/*infoInverse: #0969da,*/
/*danger: #FFEBE9,*/
/*dangerInverse: #cf222e,*/
/*success: #dafbe1,*/
/*successInverse: #2da44e,*/
/*warning: #fff8c5,*/
/*warningInverse: #bf8700*/
/*}*/


